<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a ui-sref="home">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="campaigns.list">Campaigns</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a ui-sref="campaigns.create">{{subPage}}</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown" dropdown-menu-hover data-delay="1000"
              data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="campaigns.create">
            <i class="icon-plus"></i> New Campaign </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="icon-present"></i> New Event <span
            class="badge badge-success">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-basket"></i> New order </a>
        </li>-->
        <li class="divider">
        </li>
        <li>
          <a href="javascript:;" ui-sref="campaigns.list({status:'pending',revisions:undefined})">
            <i class="icon-flag"></i> Pending 
          </a>
        </li>
        <li>
          <a href="javascript:;" ui-sref="campaigns.list({status:undefined,revisions:undefined})">
            <i class="icon-users"></i> All
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<h3 class="page-title">
  {{subPage}} Campaign
</h3>
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-6">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light" id="campaign_details_form_portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase"> {{subPage}}</span>
          <span class="caption-helper">Campaign</span>
        </div>
        <div class="actions">
          <a href="javascript:;" ng-hide="editMode" ui-sref="campaigns.details.edit({id:campaign.id})"
             class="btn btn-circle btn-default" ui-sref-active="active">
            <i class="fa fa-pencil"></i> Edit </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-danger" ng-click="cancelEdit()">
            <i class="fa fa-close"></i> Cancel </a>
          <a href="javascript:;" ng-show="editMode" class="btn btn-circle btn-primary" ng-click="save(campaign)"
             ng-disabled="submitDisabled()">
            <i class="fa fa-check"></i> Save </a>
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""
             title="">
          </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form class="form-horizontal" role="form" name="campaignForm">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-4">
                <div class="movement-image-holder">
                  <a href="javascript:;" ng-click="openTab(campaign._picture.url)" target="_blank"><img
                    ng-src="{{campaign._picture.url}}" class="img-thumbnail campaign-image"
                    width="100%" fallback-src
                    loading-src/></a>
                  <button class="btn bg-transparent text-white campaign-image-edit-btn"
                          ng-click="clickToOpen()" ng-if="editMode"><span class="fa fa-pencil fa-3x"></span>
                  </button>
                </div>
              </div>
              <div class="col-md-8">
              <div ng-show="isChanged()" type="warning" class="alert ng-isolate-scope alert-warning" role="alert">
                  <div><span class="ng-binding ng-scope">Save is enabled once you make changes</span>
              </div>
              </div>
                <h3 style="margin-top:5px"><span ng-hide="editMode">{{campaign.title}}</span>
                  <input name="title" ng-show="editMode" ng-model="campaign.title" class="form-control"
                         placeholder="Enter campaign's title or cause" ng-required="true" ng-minlength="5" required>
                  <span ng-show="editMode &&  ((!campaignForm.title.$error.minlength && campaign.title.length) || campaignForm.title.$valid)" class="glyphicon glyphicon-ok validate"></span>
                  <span ng-show="editMode && (campaignForm.title.$error.minlength || campaignForm.title.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                  </input>
                </h3>

                <p ng-hide="editMode" ng-bind-html="campaign.faxMessage">
                </p>

                <p ng-show="editMode">
                  <textarea name="faxMessage" ng-model="campaign.faxMessage" class="form-control" rows="4"
                            placeholder="Enter a brief description of the campaign."></textarea>
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Full Description</b></label>
              <div class="col-sm-8">
                <p ng-hide="editMode" ng-bind-html="campaign.description"></p>

                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
                        <i class="fa fa-dot-circle-o"></i>
                        </span>
                  <textarea name="description" ng-model="campaign.description" class="form-control" rows="4"
                            placeholder="Enter a detailed description of the campaign"></textarea>
                  <span style="z-index:20;" ng-show="editMode && campaign.description.length" class="glyphicon glyphicon-ok validate"></span>
                  <span style="z-index:20;" ng-show="editMode && !campaign.description.length" class="glyphicon glyphicon-remove validate"></span>

                </div>
                <!--<span ng-show="editMode" class="help-block">
                      A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Fax Body</b></label>
              <div class="col-sm-8">
                <p ng-hide="editMode" ng-bind-html="campaign.faxBody"></p>

                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
                        <i class="fa fa-dot-circle-o"></i>
                        </span>
                  <textarea name="faxBody" ng-model="campaign.faxBody" class="form-control" rows="4"
                            placeholder="Enter the body of the fax"></textarea>
                  <span style="z-index:20;" ng-show="editMode && campaign.faxBody.length" class="glyphicon glyphicon-ok validate"></span>
                  <span style="z-index:20;" ng-show="editMode && !campaign.faxBody.length" class="glyphicon glyphicon-remove validate"></span>

                </div>
                <!--<span ng-show="editMode" class="help-block">
                      A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Unique system name</b></label>
              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{campaign.name}}</i>
                </div>


                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
												<i class="fa fa-dot-circle-o"></i>
												</span>
                  <input name="name" type="text" class="form-control" placeholder="Give a lowercase name with no spaces or symbols"
                         ng-model="campaign.name" ng-minlength="5">
                  <span style="z-index:20;" ng-show="editMode &&  ((!campaignForm.name.$error.minlength && campaign.name.length) || campaignForm.name.$valid)" class="glyphicon glyphicon-ok validate"></span>
                  <span style="z-index:20;" ng-show="editMode && (campaignForm.name.$error.minlength || campaignForm.name.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                </div>
                <!--<span ng-show="editMode" class="help-block">
											A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Target</b></label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{campaign.target}}</i>
                </div>


                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
												<i class="fa fa-dot-circle-o"></i>
												</span>
                  <input min="1" name="target" type="number" class="form-control" placeholder="Enter target steps Count"
                         ng-model="campaign.target" ng-required="true" required>
                  <span style="z-index:20;" ng-show="editMode && campaignForm.target.$valid" class="glyphicon glyphicon-ok validate target"></span>
                  <span style="z-index:20;" ng-show="editMode && campaignForm.target.$invalid" class="glyphicon glyphicon-remove validate target"></span>
                </div>
                <!--<span ng-show="editMode" class="help-block">
											A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Fax sent to</b></label>
              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{campaign.faxTo}}</i>
                </div>


                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
                        <i class="fa fa-dot-circle-o"></i>
                        </span>
                  <input type="text" class="form-control" placeholder="e.g. Chief minister Of Chennai"
                         ng-model="campaign.faxTo" ng-minlength=5>
                  <span style="z-index:20;" ng-show="editMode &&  ((!campaignForm.faxTo.$error.minlength && campaign.faxTo.length) || campaignForm.faxTo.$valid)" class="glyphicon glyphicon-ok validate"></span>
                  <span style="z-index:20;" ng-show="editMode && (campaignForm.faxTo.$error.minlength || campaignForm.faxTo.$invalid)" class="glyphicon glyphicon-remove validate"></span>
                </div>
                <!--<span ng-show="editMode" class="help-block">
                      A block of help text. </span>-->
              </div>
            </div>
            <!--<p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="myDate" is-open="isOpen"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                </span>
            </p>-->
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Fax Numbers</b></label>
              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{campaign.faxNumbers}}</i>
                </div>


                <div class="input-group" ng-show="editMode">
                  <span class="input-group-addon">
                        <i class="fa fa-dot-circle-o"></i>
                        </span>
                  <input type="text" class="form-control" placeholder="Enter comma seperated valid Fax numbers"
                         ng-model="campaign.faxNumbers">

                </div>
                <!--<span ng-show="editMode" class="help-block">
                      A block of help text. </span>-->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Status</label>

              <div class="col-sm-8">
                <div ng-hide="editMode" style="vertical-align: middle; height:34px;line-height: 34px;">
                  <i style="vertical-align: middle">{{campaign.status}}</i>
                </div>

                <select class="form-control" ng-model="campaign.status" ng-show="editMode">
                  <option>active</option>
                  <option>pending</option>
                  <option>rejected</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><b>Fax Document</b></label>
              <div class="col-sm-8">
                <a href="{{campaign._faxFile.url}}" ng-if="campaign._faxFile" ng-hide="editMode" class="btn btn-circle btn-primary">
                  {{fileName | limitTo:30}}</a> 

                <div class=" input-group btn btn-circle btn-primary" ng-show="editMode" ngf-select="fileUpload($file, $invalidFiles)" ngf-pattern="'.doc,.docx,.pdf,.tif,.jpg,.odt,.txt,.html,.png'" ngf-accept=".doc,.docx,.pdf,.tif,.jpg,.odt,.txt,.html,.png" ngf-validate-fn="validate($file)">Upload File</div>
                </br>
                <div ng-show="editMode">{{fileName}}</div>
                <!--<span ng-show="editMode" class="help-block">
                      A block of help text. </span>-->
              </div>
            </div>
            <!--<div class="form-group" ng-if="campaign.initiator">
              <label class="col-sm-4 control-label">Initiator</label>

              <div class="col-sm-8">
                <div class="row">
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <img class="item-pic" width="100%"
                           ng-src="{{getImageWithSize(campaign.initiator._picture,50,true)}}"
                           fallback-src
                           loading-src>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h4><a ui-sref="users.details({id:campaign.initiator.id})" class="item-name primary-link">{{getDisplayName(campaign.initiator)}}</a>
                    </h4>
                  </div>
                </div>


              </div>
            </div>-->

          </div>
        </form>

      </div>
    </div>

  </div>

  <!-- END Portlet PORTLET-->
  <div class="col-md-6" ng-show="!(isCreate)">
    <div class="portlet light">
      <!-- STAT -->
      <div class="row list-separated profile-stat">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="uppercase profile-stat-title">
            {{campaign.signatureCount || 0}}
          </div>
          <div class="uppercase profile-stat-text">
            Signatures
          </div>
        </div>
        <div style="margin-top:12px;">
          <a class="btn btn-circle btn-primary" ng-csv="dataDow" filename="signatures.csv" csv-header="['Name','Email','Phone','Postal Code','Country', 'Time']">
            <i class="fa fa-fw fa-download"></i> Download
          </a>
          <a class="btn btn-circle btn-danger" ng-href="http://fax.vettiver.in/public.html#/?campaignId={{campaign.name}}">
            Petition Link
          </a>
        </div>
      </div>
      <!-- END STAT -->
      <div class="row" ng-if="campaignSignatures.length">
        <div class="col-md-12">
          <!-- <div class="item" ng-repeat="member in campaignMemberships">
             <div class="item-head">
               <div class="item-details">
                 <img class="item-pic" ng-src="{{activity.actor._picture.url}}" fallback-src loading-src>
                 <a href="" class="item-name primary-link">{{activity.actor.username}}</a>
                 <span class="item-label" am-time-ago="activity.created"></span>
               </div>
               &lt;!&ndash; <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span> &ndash;&gt;
             </div>
             <div class="item-body" style="padding-left: 50px;">
               {{activity.text}}
               <img ng-src="{{activity._picture.url}}" class="img-thumbnail" ng-show="activity._picture.url"
                    fallback-src loading-src
                    width="100%"/>
             </div>
           </div>-->


          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th>
                  NAME
                </th>
                <th>
                  COUNTRY
                </th>
                <th>
                  TIME
                </th>
              </tr>
              </thead>
              <tr ng-repeat="signature in campaignSignatures">
                <td>
                  {{signature.firstName | limitTo:12}} {{signature.lastName | limitTo:12}}
                </td>
                <td>
                  {{signature.country}}
                </td>                
                <td>
                  <span am-time-ago="signature.created"/>
                </td>
              </tr>

            </table>
            <pagination ng-model="page" total-items="signatureCount" items-per-page="signaturePageSize" max-size="6" ng-change="pageChanged(page)"></pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<div ui-view></div>

